.container{
    display: flex;
    width: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

.container-child{
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    align-items:center;
    gap: 15px;
}

.container-child-text{
    width: 10rem;
   font-size: 1rem;
}

.icon{
    font-size: 2.5rem;
    width: 2.5rem;
}

.divider{
    padding-bottom: 16px ;
    margin-top: 16px;
    border-top: 1px solid darkgray;
    width: 90%;
}